:root {
  --sticky-h: 200px; /* approximate height of sticky header */
}

.top-wrapper {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
}

[id] {
  scroll-margin-top: calc(var(--sticky-h) + 20px);
}

#userInput .input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#userInput .helpers {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 1px;
    border: none;
}

.top-wrapper .result-wrapper {
  padding-top: 10px;  
}

#results {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 0.75rem;
}

#wrapper {
  margin-top: 20px;
}

.rule {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.5;
}

.rule.rule-enabled {
  opacity: 1;
}

.rule .rule-label {
  margin-bottom: 10px;
}

.rule .rule-id {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.rule .rule-order-id {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rule .rule-pattern {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rule .rule-description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.rule .rule-info {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.rule .rule-anchor {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.rule .rule-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}