#userInput {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#wrapper {
  margin-top: 100px;
}

.rule {
  border: 1px solid #000;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rule .rule-id {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rule .rule-pattern {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.rule .rule-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.rule .rule-anchor {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.rule .rule-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}